<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | Обо мне</title>
    <link rel="stylesheet" href="main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="maincontent">
        <section class="hero">
          <div class="hero__wrap">
            <div class="hero__links">
              <ul class="socials socials_about">
                <li class="socials__item"><a class="socials__link" href="http://vk.com">
                    <svg class="socials__link-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#vk"></use>
                    </svg></a></li>
                <li class="socials__item"><a class="socials__link" href="http://github.com">
                    <svg class="socials__link-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#github"></use>
                    </svg></a></li>
                <li class="socials__item"><a class="socials__link" href="http://linkedin.com">
                    <svg class="socials__link-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#in"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="hero__menu"><a class="hamburger" href=""></a></div>
            <div class="hero__title">
              <div class="user hero__user">
                <div class="user__pic"><img class="user__avatar" src="/assets/images/avatar.jpg"></div>
                <div class="user__description"></div>
                <div class="user__name">Гошовский Артём</div>
                <div class="user__info">Личный сайт разработчика</div>
              </div>
            </div><a class="down-btn hero__down-btns" href="#"></a>
          </div>
        </section>
        <section class="about">
          <div class="about__triangles">
            <div class="section-triangles">
              <div class="section-triangles__right">
                <svg fill="#efeee9" viewBox="0 0 1000 150" preserveAspectRatio="none">
                  <polygon points="0,0 0,150 1000,150"></polygon>
                </svg>
              </div>
              <div class="section-triangles__left">
                <svg fill="#fff" viewBox="0 0 1000 150" preserveAspectRatio="none">
                  <polygon points="1000,0 1000,150 0,150"></polygon>
                </svg>
              </div>
            </div>
          </div>
          <div class="about__left">
            <div class="about__left-wrapper">
              <div class="about__left-title">
                <div class="block-title about__left-title_big-size">Обо мне</div>
              </div>
              <div class="about__left-content">
                <div class="user-description">
                  <div class="user-description__image"><img class="user-description__avatar" src="/assets/images/about_desc_avatar.jpg"></div>
                  <div class="user-description__data"></div>
                  <div class="user-description__title">
                    <div class="block-subtitle">Кто я</div>
                  </div>
                  <div class="user-description__text text-content">
                    <p>Привет! Меня зовут Артём, я программист из Санкт-Петербурга. Более 5-ти лет занимаюсь бэкенд-разработкой. Реализовал несколько больших коммерческих проектоа.</p>
                    <p>В последнее время решил углубиться во фронтенд, начал изучать Gulp, Pug, VueJs.</p>
                    <p>Так же в свободное от работы время пробую себя в blockchaine. На данный момент с единомышленниками разрабатываем в качестве эксперимента игровой движок на криптовалюте Эфириум.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="about__right">
            <div class="about__right-wrapper">
              <div class="about__right-title">
                <div class="block-subtitle">Чем я могу быть вам полезен</div>
              </div>
              <div class="about__right-description text-content">
                <p>Есть опыт в разработке высоконагруженных приложений. Клиент-серверного API для мобильных приложений. CRM-систем для управления сервисами и работы колл-центра.</p>
              </div>
              <div class="about__right-content">
                <div id="skills-container"></div>
              </div>
            </div>
          </div>
        </section>
        <div class="clearfix"></div>
        <section class="map">
          <div class="google-map"></div>
          <div class="map__data">
            <div class="contacts">
              <h2 class="contacts__title">
                <div class="block-subtitle">Контaкты</div>
              </h2>
              <address class="contacts__data"></address>
              <ul class="contacts__list">
                <li class="contacts__item">
                  <div class="contacts-row contacts__icon">
                    <svg class="contacts__icon-img">
                      <use xlink:href="/assets/images/icons/sprite.svg#skype"></use>
                    </svg>
                  </div>
                  <div class="contacts-row contacts__title">skype_n</div>
                </li>
                <li class="contacts__item">
                  <div class="contacts-row contacts__icon">
                    <svg class="contacts__icon-img">
                      <use xlink:href="/assets/images/icons/sprite.svg#skype"></use>
                    </svg>
                  </div>
                  <div class="contacts-row contacts__title">phone_n</div>
                </li>
                <li class="contacts__item">
                  <div class="contacts-row contacts__icon">
                    <svg class="contacts__icon-img">
                      <use xlink:href="/assets/images/icons/sprite.svg#skype"></use>
                    </svg>
                  </div>
                  <div class="contacts-row contacts__title">phone</div>
                </li>
                <li class="contacts__item">
                  <div class="contacts-row contacts__icon">
                    <svg class="contacts__icon-img">
                      <use xlink:href="/assets/images/icons/sprite.svg#skype"></use>
                    </svg>
                  </div>
                  <div class="contacts-row contacts__title">phone2</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <footer class="internal-footer">
        <div class="internal-footer__wrapper">
          <div class="internal-footer__row">
            <div class="internal-footer__col">
              <div class="internal-footer__text-left">Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.</div>
            </div>
            <div class="internal-footer__col">
              <div class="internal-footer__menu">
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="works.html">Мои работы</a></li>
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="about.html">Обо мне</a></li>
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="blog.html">Блог</a></li>
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="/">Авторизация</a></li>
                  </ul>
                </nav>
              </div>
              <div class="internal-footer__socials">
                <ul class="socials socials_footer">
                  <li class="socials__item"><a class="socials__link" href="http://vk.com">
                      <svg class="socials__link-icon">
                        <use xlink:href="/assets/images/icons/sprite.svg#vk"></use>
                      </svg></a></li>
                  <li class="socials__item"><a class="socials__link" href="http://github.com">
                      <svg class="socials__link-icon">
                        <use xlink:href="/assets/images/icons/sprite.svg#github"></use>
                      </svg></a></li>
                  <li class="socials__item"><a class="socials__link" href="http://linkedin.com">
                      <svg class="socials__link-icon">
                        <use xlink:href="/assets/images/icons/sprite.svg#in"></use>
                      </svg></a></li>
                </ul>
              </div>
            </div>
            <div class="internal-footer__col">
              <div class="quotation quotation_margin">
                <div class="quotation__text">Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.</div>
                <div class="quotation__author">- Martin Goldin</div>
              </div>
            </div>
          </div>
        </div>
        <div class="internal-footer__copyright">
          <h2>Copyright Goshovskiy Artem &copy portfolio</h2>
        </div>
      </footer>
      <div class="clearfix"></div>
    </div>
    <script type="text/x-template" id="skills-list">
      <ul class="skills-list">
        <li class="skills-list__item" v-for="skill in skills">
          <skills-row :skill="skill"></skills-row>
        </li>
      </ul>
    </script>
    <script type="text/x-template" id="skills-row">
      <div class="skllls-row">
        <div class="skills-list__title">{{skill.skillsGroup}}</div>
        <ul class="skills">
          <li class="skills-list__item" v-for="(skillPercents, skillName) in skill.skills">
            <skill :skillName="skillName" :skillPercents="skillPercents"></skill>
          </li>
        </ul>
      </div>
    </script>
    <script type="text/x-template" id="skill">
      <div class="skill">
        <svg class="skill__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
          <circle class="skill__circle skill__circle_under" cx="50" cy="50" r="40"></circle>
          <circle class="skill__circle skill__circle_above" cx="50" cy="50" r="40" ref="color-circle"></circle>
        </svg>
        <div class="skill__title">{{ skillName }}</div>
      </div>
    </script>
    <script type="text/x-template" id="slider">
      <div class="slider">
        <info :work="currentWork"></info>
        <display :work="currentWork"></display>
        <buttons :works="works" :currentIndex="currentIndex" @slide="handleSlide"></buttons>
      </div>
    </script>
    <script type="text/x-template" id="slider-info">
      <div class="slider__info-container">
        <div class="slider__info">
          <div class="slider__info-title">
            <div class="block-subtitle">{{work.title}}</div>
          </div>
          <div class="slider__info-skills">{{work.skills}}</div>
          <div class="slider__info-button"><a class="button" :href="work.link" target="_blank">Посмотреть сайт</a></div>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="slider-display">
      <div class="slider__display"><img class="slider__big-pic" :src="work.photo"></div>
    </script>
    <script type="text/x-template" id="slider-buttons">
      <div class="slider__buttons">
        <div class="slider__button" @click="slide('prev')">
          <div class="slider__button-img-wrap"><img class="slider__button-pic" :src="getReqImage('prev').photo" alt=""></div>
        </div>
        <div class="slider__button slider__button--next" @click="slide('next')">
          <div class="slider__button-img-wrap"><img class="slider__button-pic" :src="getReqImage('next').photo" alt=""></div>
        </div>
      </div>
    </script>
    <script src="bootloader.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="about.bundle.js"></script>
  </body>
</html>