<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="/assets/images/fav_forest.png">
    <title>Portfolio | Мои работы</title>
    <link rel="stylesheet" href="main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="maincontent" id="internal">
        <div id="mob-menu"></div>
        <section class="hero">
          <div class="hero__wrap">
            <div class="hero__links">
              <ul class="socials socials_about">
                <li class="socials__item"><a class="socials__link" href="http://vk.com">
                    <svg class="socials__link-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#vk"></use>
                    </svg></a></li>
                <li class="socials__item"><a class="socials__link" href="http://github.com">
                    <svg class="socials__link-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#github"></use>
                    </svg></a></li>
                <li class="socials__item"><a class="socials__link" href="http://linkedin.com">
                    <svg class="socials__link-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#in"></use>
                    </svg></a></li>
              </ul>
            </div>
            <div class="hero__title">
              <div class="user hero__user">
                <div class="user__pic"><img class="user__avatar" src="/assets/images/avatar.jpg"></div>
                <div class="user__description"></div>
                <div class="user__name">Гошовский Артём</div>
                <div class="user__info">Личный сайт разработчика</div>
              </div>
            </div><a class="down-btn hero__down-btns" href="#"></a>
          </div>
        </section>
        <section class="works">
          <div class="works__triangles">
            <div class="section-triangles">
              <div class="section-triangles__right">
                <svg fill="#fff" viewBox="0 0 1000 150" preserveAspectRatio="none">
                  <polygon points="0,0 0,150 1000,150"></polygon>
                </svg>
              </div>
              <div class="section-triangles__left">
                <svg fill="#fff" viewBox="0 0 1000 150" preserveAspectRatio="none">
                  <polygon points="1000,0 1000,150 0,150"></polygon>
                </svg>
              </div>
            </div>
          </div>
          <div class="works__title">
            <div class="block-title block-title_my-works">Мои работы</div>
          </div>
        </section>
        <div class="slider-container">
          <div id="slider-component"></div>
        </div>
        <section class="about-me">
          <div class="about-me__title">
            <div class="block-title block-title_about-me">Что обо мне говорят</div>
          </div>
          <div class="about-me__reviews"></div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="reviews__avatar">
                <div class="reviews__avatar-pic"><img class="reviews__avatar-image" src="/assets/images/user.jpg" alt="review author"/>
                </div>
              </div>
              <div class="reviews__text text-block">
                <p>Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!</p>
              </div>
              <div class="reviews__author">
                <div class="reviews__author-data">
                  <div class="reviews__name">Ковальчук Дмитрий</div>
                  <div class="reviews__occ">- основатель Loftschool</div>
                </div>
              </div>
            </li>
            <li class="reviews__item">
              <div class="reviews__avatar">
                <div class="reviews__avatar-pic"><img class="reviews__avatar-image" src="/assets/images/user.jpg" alt="review author"/>
                </div>
              </div>
              <div class="reviews__text text-block">
                <p>Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!</p>
              </div>
              <div class="reviews__author">
                <div class="reviews__author-data">
                  <div class="reviews__name">Ковальчук Дмитрий</div>
                  <div class="reviews__occ">- основатель Loftschool</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="reviews__form-container">
            <div id="works-form"></div>
          </div>
        </section>
      </div>
      <footer class="internal-footer">
        <div class="internal-footer__wrapper">
          <div class="internal-footer__row">
            <div class="internal-footer__col internal-footer__col-block-left">
              <div class="internal-footer__text-left">Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.</div>
            </div>
            <div class="internal-footer__col internal-footer__col-block-center">
              <div class="internal-footer__menu">
                <nav class="menu">
                  <ul class="menu__list">
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="works.html">Мои работы</a></li>
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="about.html">Обо мне</a></li>
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="blog.html">Блог</a></li>
                    <li class="menu__item menu-item-footer"><a class="menu__link menu-link-footer" href="/">Авторизация</a></li>
                  </ul>
                </nav>
              </div>
              <div class="internal-footer__socials">
                <ul class="socials socials_footer">
                  <li class="socials__item"><a class="socials__link" href="http://vk.com">
                      <svg class="socials__link-icon">
                        <use xlink:href="/assets/images/icons/sprite.svg#vk"></use>
                      </svg></a></li>
                  <li class="socials__item"><a class="socials__link" href="http://github.com">
                      <svg class="socials__link-icon">
                        <use xlink:href="/assets/images/icons/sprite.svg#github"></use>
                      </svg></a></li>
                  <li class="socials__item"><a class="socials__link" href="http://linkedin.com">
                      <svg class="socials__link-icon">
                        <use xlink:href="/assets/images/icons/sprite.svg#in"></use>
                      </svg></a></li>
                </ul>
              </div>
            </div>
            <div class="internal-footer__col internal-footer__col-block-right">
              <div class="quotation quotation_margin">
                <div class="quotation__text">Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.</div>
                <div class="quotation__author">- Martin Goldin</div>
              </div>
            </div>
          </div>
        </div>
        <div class="internal-footer__copyright">
          <h2>Copyright Goshovskiy Artem &copy portfolio</h2>
        </div>
      </footer>
      <div class="clearfix"></div>
    </div>
    <script type="text/x-template" id="skills-list">
      <ul class="skills-list">
        <li class="skills-list__item" v-for="skill in skills">
          <skills-row :skill="skill"></skills-row>
        </li>
      </ul>
    </script>
    <script type="text/x-template" id="skills-row">
      <div class="skllls-row">
        <div class="skills-list__title">{{skill.skillsGroup}}</div>
        <ul class="skills">
          <li class="skills-list__item" v-for="item in skill.skills">
            <skill :skillName="item.title" :skillPercents="item.percents"></skill>
          </li>
        </ul>
      </div>
    </script>
    <script type="text/x-template" id="skill">
      <div class="skill">
        <svg class="skill__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
          <circle class="skill__circle skill__circle_under" cx="50" cy="50" r="40"></circle>
          <circle class="skill__circle skill__circle_above" cx="50" cy="50" r="40" ref="color-circle"></circle>
        </svg>
        <div class="skill__title">{{ skillName }}</div>
      </div>
    </script>
    <script type="text/x-template" id="slider">
      <div class="slider">
        <info :work="currentWork"></info>
        <display :work="currentWork"></display>
        <buttons :works="works" :currentIndex="currentIndex" @slide="handleSlide"></buttons>
      </div>
    </script>
    <script type="text/x-template" id="slider-info">
      <div class="slider__info-container">
        <div class="slider__info">
          <div class="slider__info-title">
            <div class="block-subtitle">{{work.title}}</div>
          </div>
          <transition-group appear @before-enter="callback('before-enter')" @after-enter="callback('after-enter')" @enter="enterHandler">
            <div class="slider__info-skills" :key="work.techs">{{work.techs}}</div>
          </transition-group>
          <div class="slider__info-button"><a class="button" :href="work.link" target="_blank">Посмотреть сайт</a></div>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="slider-display">
      <div class="slider__display"><img class="slider__big-pic" :src="work.photo"></div>
    </script>
    <script type="text/x-template" id="slider-buttons">
      <div class="slider__buttons">
        <div class="slider__button" @click="slide('prev')">
          <transition-group class="slider__button-img-container" name="slide-down" tag="div">
            <div class="slider__button-img-wrap" :key="getReqImage('prev').photo"><img class="slider__button-pic" :src="getReqImage('prev').photo" alt=""></div>
          </transition-group>
        </div>
        <div class="slider__button slider__button--next" @click="slide('next')">
          <transition-group class="slider__button-img-container" name="slide-up" tag="div">
            <div class="slider__button-img-wrap" :key="getReqImage('next').photo"><img class="slider__button-pic" :src="getReqImage('next').photo" alt=""></div>
          </transition-group>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="work-form">
      <form class="modal-form">
        <div class="modal-form__title">
          <div class="block-subtitle">Связаться со мной</div>
        </div>
        <div class="modal-form__container">
          <div class="form-errors" :class="{'show': hasErrors, '': !hasErrors }">Не все поля заполнены</div>
          <input class="modal-form__input" type="text" placeholder="Имя" v-model="name">
          <input class="modal-form__input" type="text" placeholder="Email" v-model="email">
          <textarea class="modal-form__input modal-form__input_textarea" placeholder="Ваше сообщение" v-model="text"></textarea>
        </div>
        <div class="modal-form__buttons">
          <button class="modal-form__button" @click="checkForm">Отправить</button>
          <button class="modal-form__button" @click="cleanForm">Очистить</button>
        </div>
      </form>
    </script>
    <script type="text/x-template" id="mobile-menu">
      <div>
        <transition name="menu" enter-active-class="active" leave-active-class="disabled">
          <div class="mobile-menu" :class="{'active': isActive, '': !isActive }">
            <div class="mobile-menu__background mobile-menu__background-left"></div>
            <div class="mobile-menu__background mobile-menu__background-right"></div>
            <ul class="mobile-menu_links">
              <li class="mobile-menu__item"><a class="mobile-menu__link" href="/works.html">Мои работы</a></li>
              <li class="mobile-menu__item"><a class="mobile-menu__link" href="/about.html">Обо мне</a></li>
              <li class="mobile-menu__item"><a class="mobile-menu__link" href="/blog.html">Блог</a></li>
              <li class="mobile-menu__item"><a class="mobile-menu__link" href="/">Авторизация</a></li>
            </ul>
          </div>
        </transition>
        <div class="hamburger hamburger--elastic" :class="{'active': isActive, '': !isActive }" @click="activeChange">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </script>
    <script src="bootloader.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="works.bundle.js"></script>
  </body>
</html>